.template-layout {
    background-color: rgb(214, 222, 230);
    width: 100%;
    overflow-x: hidden;
}

.template-header {
    color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    margin-right: 330px;
    padding-top: 150px;
    padding-bottom: 30px;
    font-size: 2rem;
    letter-spacing: .1rem;
}

.background-images {
    display: flex;
    overflow-x: hidden;

}

.template-image {
    margin-left: 200px;
    height: 500px;
    width: 900px;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .2);
    transform: translateX(-1890px);
}

.image-description {
    position: relative;
    top: 500px;
    transform: translateX(-1610px);
    color: rgba(0, 0, 0, .7);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .2rem;
    z-index: 1;
    width: fit-content;
    background-color: rgba(255, 255, 255, .5);
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 10px 10px 5px 10px;
}

#center{
    padding-bottom: 50px;
    transition-duration: 1.3s;
}

#L1{
    padding-bottom: 50px;
    transition-duration: 1.3s;
    transform: translateX(68vw);
}

#L2 {
    padding-bottom: 50px;
    transition-duration: 1.3s;
    transform: translateX(135.5vw);
}

#R1 {
    padding-bottom: 50px;
    transition-duration: 1.3s;
    transform: translateX(-67.5vw);
}

#R2 {
    padding-bottom: 50px;
    transition-duration: 1.3s;
    transform: translateX(-135vw);
}

.left-arrow {
    position: absolute;
    top: 50vh;
    left: 20.3vw;
    height: 50px;
    width: 30px;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, .7);
    margin: 0;
    padding: 0;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 80px;
}

.right-arrow {
    margin: 0;
    padding:0;
    position: absolute;
    top: 50vh;
    right: 20.5vw;
    height: 50px;
    width: 30px;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, .7);
    transition: all .8s ease-out 10s;

}

.right-arrow:hover,
.left-arrow:hover {
    animation: bounce .4s infinite alternate;
}

  @keyframes bounce {
    to { transform: scale(1.1); }
  }
