#hub-background {
    background-color: #96a39c;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#hub-sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.hub-button {
    width: 250px;
    height: 50px;
    background-color: transparent;
    margin: 5px 0;
    font-size: 1.6rem;
    letter-spacing: .3rem;
	text-transform: uppercase;
    color:#0f6eea;
}
