.side-bar {
    position: absolute;
    top: 80px;
    left: 0;
    height: 91vh;
    width: 365px;
    background-color: rgba(209, 209, 209, 0.3);
    border-right: 1px solid white;;
    display: flex;
    flex-direction: column;
}

#open {
    animation: slide-open 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-open {
    0% {
        left: -12.6vw;
        box-shadow: 0 0 0 transparent

    }
    100% {
        left: 0;
        box-shadow: 5px 2px 5px rgba(0, 0, 0, .5);
    }
}

#closed {
    animation: slide-close 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-close {
    0% {
        left: 0;
        box-shadow: 5px 2px 5px rgba(0, 0, 0, .5);
    }
    100% {
        left: -300px;
        box-shadow: 0 0 0 transparent
    }
}


/* close button */


.slide-button-start {
    padding-top:10px;
    padding-bottom: 10px;
    position: absolute;
    top: 81px;
    left: 0;
    width: 60px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

#slide-button-start {
    animation: slide-out 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    0% {
        left: 3px;
        padding-top: 10px;
        width: 50px;
    }
    100% {
        left: 310px;
        padding-top: 25px;
        width:60px;
    }
}

#slide-button-end {
    animation: slide-in 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    0% {
        left: 310px;
        padding-top: 25px;
    }
    100% {
        left: 3px;
        padding-top: 10px;
    }
}

.bar {
    display: block;
    background-color: #6289bd;
    width: 35px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
    cursor: pointer;
}


input[type="checkbox"] {
display: none;
}

input[type="checkbox"]:checked ~ .content {
transform: translateX(20%);
}

input[type="checkbox"]:checked ~ label .bar {
background-color: #6289bd;
}

input[type="checkbox"]:checked ~ label .top {
-webkit-transform: translateY(0px) rotateZ(45deg);
-moz-transform: translateY(0px) rotateZ(45deg);
-ms-transform: translateY(0px) rotateZ(45deg);
-o-transform: translateY(0px) rotateZ(45deg);
transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
-webkit-transform: translateY(-15px) rotateZ(-45deg);
-moz-transform: translateY(-15px) rotateZ(-45deg);
-ms-transform: translateY(-15px) rotateZ(-45deg);
-o-transform: translateY(-15px) rotateZ(-45deg);
transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
width: 0;
}

.middle {
margin: 0 auto;
}

#show-lock {
    animation: fadeInTwo 2.5s;
}

.closed {
    display: none;
}

.locked {
    position: absolute;
    left: 16px;
    top: 90px;
    color: #6289bd;
    font-size: 40px;
    z-index: 1;
}

.unlocked {
    position: absolute;
    left: 16px;
    top: 90px;
    color: #6289bd;
    font-size: 40px;
    z-index: 1;
}

.user {
    position: absolute;
    left: 17px;
    top: 190px;
    color: #6289bd;
    font-size: 43px;
    z-index: 1;

}

.calendar {
    position: absolute;
    left: 16px;
    top: 250px;
    color: #6289bd;
    font-size: 38px;
    z-index: 1;
    animation: slide-calendar .5s;
    animation-fill-mode: forwards;
}

@keyframes slide-calendar {
    0% {
        top: 370px;
    } 100% {
        top: 250px;
    }
}

.calendar-slide {
    position: absolute;
    left: 16px;
    top: 255px;
    color: #6289bd;
    font-size: 38px;
    z-index: 1;
    animation: slide-calendar-down .5s;
    animation-fill-mode: forwards;
}

@keyframes slide-calendar-down {
    0% {
        top: 250px;
    } 100% {
        top: 370px;
    }
}


.map-marker {
    position: absolute;
    left: 18px;
    color: #6289bd;
    top: 305px;
    font-size: 40px;
    z-index: 1;
    animation: slide-marker-up .5s;
    animation-fill-mode: forwards;
}

@keyframes slide-marker-up {
    0% {
        top: 490px;
    } 100% {
        top: 305px;
    }
}

.map-marker-slide {
    position: absolute;
    left: 18px;
    color: #6289bd;
    top: 305px;
    font-size: 40px;
    z-index: 1;
    animation: slide-marker-down .5s;
    animation-fill-mode: forwards;
}

@keyframes slide-marker-down {
    0% {
        top: 305px;
    } 100% {
        top: 490px;
    }
}

.upload-image {
    position: absolute;
    left: 16px;
    color: #6289bd;
    top: 358px;
    font-size: 38px;
    z-index: 1;
    animation: slide-image-up .5s;
    animation-fill-mode: forwards;
}

@keyframes slide-image-down {
    0% {
        top: 358px;
    } 100% {
        top: 763px;
    }
}

.upload-image-slide {
    position: absolute;
    left: 16px;
    color: #6289bd;
    top: 358px;
    font-size: 38px;
    z-index: 1;
    animation: slide-image-down .5s;
    animation-fill-mode: forwards;
}

@keyframes slide-image-up {
    0% {
        top: 763px;
    } 100% {
        top: 358px;
    }
}

.envelope {
    position: absolute;
    left: 16px;
    color: #6289bd;
    top: 408px;
    font-size: 33px;
    z-index: 1;
    animation: slide-envelope-down .5s;
    animation-fill-mode: forwards;
}

@keyframes slide-envelope-down {
    0% {
        top: 850px;
    } 100% {
        top: 408px;
    }
}

.envelope-slide {
    position: absolute;
    left: 16px;
    color: #6289bd;
    top: 408px;
    font-size: 33px;
    z-index: 1;
    animation: slide-envelope-up .5s;
    animation-fill-mode: forwards;
}

@keyframes slide-envelope-up {
    0% {
        top: 408px;
    } 100% {
        top: 850px;
    }
}
