.side-bar {
    position: absolute;
    top: 80px;
    left: 0;
    height: 91.5vh;
    width: 300px;
    background-color: #6289bd;;
    display: flex;
    flex-direction: column;
}

#open {
    animation: slide-open 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-open {
    0% {
        left: -12.6vw;
        box-shadow: 0 0 0 transparent

    }
    100% {
        left: 0;
        box-shadow: 5px 2px 5px rgba(0, 0, 0, .5);
    }
}

#closed {
    animation: slide-close 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-close {
    0% {
        left: 0;
        box-shadow: 5px 2px 5px rgba(0, 0, 0, .5);
    }
    100% {
        left: -12vw;
        box-shadow: 0 0 0 transparent
    }
}


/* close button */


.slide-button-start {
    padding-top:10px;
    padding-bottom: 10px;
    position: absolute;
    top: 81px;
    left: 0;
    width: 60px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    background-color: #6289bd;
}

#slide-button-start {
    animation: slide-out 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    0% {
        left: 0;
        padding-top: 10px;
        width: 50px;
    }
    100% {
        left: 240px;
        padding-top: 25px;
        width:60px;
    }
}

#slide-button-end {
    animation: slide-in 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    0% {
        left: 240px;
        padding-top: 25px;
    }
    100% {
        left: 0;
        padding-top: 10px;
    }
}

.bar {
    display: block;
    background-color: white;
    width: 35px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
    cursor: pointer;
}


input[type="checkbox"] {
display: none;
}

input[type="checkbox"]:checked ~ .content {
transform: translateX(20%);
}

input[type="checkbox"]:checked ~ label .bar {
background-color: white;
}

input[type="checkbox"]:checked ~ label .top {
-webkit-transform: translateY(0px) rotateZ(45deg);
-moz-transform: translateY(0px) rotateZ(45deg);
-ms-transform: translateY(0px) rotateZ(45deg);
-o-transform: translateY(0px) rotateZ(45deg);
transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
-webkit-transform: translateY(-15px) rotateZ(-45deg);
-moz-transform: translateY(-15px) rotateZ(-45deg);
-ms-transform: translateY(-15px) rotateZ(-45deg);
-o-transform: translateY(-15px) rotateZ(-45deg);
transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
width: 0;
}

.middle {
margin: 0 auto;
}

.fa-clipboard-list {
    position: absolute;
    left: 10px;
    top: 150px;
    color: white;
    font-size: 50px;
    z-index: 1;
}

.fa-edit {
    position: absolute;
    left: 10px;
    top: 310px;
    color: white;
    font-size: 40px;
    z-index: 1;
}

.fa-calendar-alt {
    position: absolute;
    left: 10px;
    top: 230px;
    color: white;
    font-size: 43px;
    z-index: 1;
}

.fa-unlock-alt {
    position: absolute;
    left: 10px;
    top: 380px;
    color: white;
    font-size: 43px;
    z-index: 1;
}
