.cant-load {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.cant-load button {
    margin-top: 10%;
    height: 30px;
    width: 90px;
    background-color: #6289bd;
    border: none;
    outline: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    color: white;
    font-size: 18px;
}

.cant-load button:hover {
    background-color: #6d99d1;
}

.can-load {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.can-load div {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.can-load div button {
    height: 30px;
    width: 90px;
    background-color: #6289bd;
    border: none;
    outline: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    color: white;
    font-size: 18px;
}

.can-load button:hover {
    background-color: #6d99d1;
}

.transition-my-site {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
}

.my-site {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.expand {
    margin-top: 15%;
    width: 20%;
    height: 20%;
    animation: load-page 2s forwards;
}

@keyframes load-page {
    0% {
        width: 0%;
        height: 0%;
        border-radius: 0%;
        margin-top: 18.5%;
    }
    35% {
        width: 15%;
        height: 15%;
        margin-top: 16.2%;
    }
    70% {
        width: 5%;
        height: 5%;
        margin-top: 18.5%;
    }
    100% {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
}

#contract {
    animation: minimize 1s forwards;
}

@keyframes minimize {
    0% {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    100% {
        width: 0%;
        height: 0%;
        border-radius: 0%;
        margin-top: 19.5%;
    }
}
