.auth-form {
    display: flex;
}

.auth-header {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    color: rgba(0, 0, 0, .8);
}

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.auth-input-field {
    padding-left:20px;
    height: 60px;
    width: 300px;
    outline: none;
    margin-top: 60px;
}

.not-ready {
    height: 50px;
    width: 200px;
    cursor: not-allowed;
    border: transparent;
    outline: none;
    background-color:transparent;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    color: rgba(0, 0, 0, .5);
    margin-top: 60px;;
}

.ready {
    height: 50px;
    width: 200px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
    margin-top: 60px;
    transition: all 0.25s ease-in 0s;

}

.ready:hover {
    text-decoration: underline 2px solid white;
    cursor: pointer;
}
