.form-background {
    background-color: white;
    height: 550px;
    width: 500px;
}

#hub-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9e2da;
    height: 550px;
    border: 10px solid white;
}

.hub-button {
    width: 250px;
    height: 50px;
    background-color: transparent;
    border: transparent;
    margin: 5px 0;
    font-size: 1.6rem;
    letter-spacing: .3rem;
	text-transform: uppercase;
    color:#0f6eea;
}

.hub-button:hover {
    color: #6289bd;
}

.auth-icon {
    margin-top: 55px;
    height: 200px;
    width: 200px;
}
