.form-background {
    background-color: #f1faf1;
    height: 550px;
    width: 500px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
}

#hub-sidebar {
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: rgba(0, 0, 0, .2);
    height: 534px;
    border: 8px solid #f1f7f1;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
}

.hub-button {
    width: 250px;
    height: 80px;
    font-size: 1.6rem;
    letter-spacing: .3rem;
	text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: transparent;
    background-color: transparent;
    color:white;
}

.selected {
    width: 250px;
    height: 80px;
    font-size: 1.6rem;
    letter-spacing: .3rem;
	text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: transparent;
    background-color: rgba(255,255,255, .5);
    color:rgba(0, 0, 0, .4);
}

.not-ready {
    height: 50px;
    width: 200px;
    cursor: not-allowed;
    border: transparent;
    outline: none;
    background-color:transparent;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    color: rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .1);
    margin-top: 15px;
}

.ready {
    height: 50px;
    width: 200px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    color: white;
    background-color: #5e85b8;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
    transition: all 0.25s ease-in 0s;
    margin-top: 15px;
    cursor: pointer;

}

.auth-errors-login {
    position: absolute;
    margin-top: 330px;
    font-size: 25px;
    color: rgba(255, 0, 0, 0.5);
}

.auth-errors-signUp {
    position: absolute;
    margin-top: 460px;
    font-size: 25px;
    color: rgba(255, 0, 0, 0.5);
}
