.form-background {
    background-color: #f1faf1;
    height: 550px;
    width: 500px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    transition: all 0.25s ease-in 0s;
}

#hub-sidebar {
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: rgba(0, 0, 0, .2);
    height: 534px;
    border: 8px solid #f1f7f1;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
}

.hub-button {
    width: 250px;
    height: 80px;
    font-size: 1.6rem;
    letter-spacing: .3rem;
	text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: transparent;
    background-color: transparent;
    color:white;
}

#selected {
    color:rgba(0, 0, 0, 1);
    transition: all 1s ease-in-out;
}

#p-one{
    position: absolute;
    top: 37vh;
    left: 30.4vw;
    height: 80px;
    width: 252px;
    background-color: rgba(255, 255, 255, 0.5);
    animation-fill-mode: forwards;
}

#p-two {
    position: absolute;
    top: 37vh;
    left: 30.4vw;
    height: 80px;
    width: 252px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: a-one 1s;
    animation-fill-mode: forwards;
}

@keyframes a-one {
    0% {
        top: 37vh;
    }
    100% {
        top: 46vh;
    }
}


#p-three {
    position: absolute;
    top: 37vh;
    left: 30.4vw;
    height: 80px;
    width: 252px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: a-two 1s;
    animation-fill-mode: forwards;
}

@keyframes a-two {
    0% {
        top: 37vh;
    }
    100% {
        top: 54vh;
    }
}

#p-four {
    position: absolute;
    top: 46vh;
    left: 30.4vw;
    height: 80px;
    width: 252px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: a-three 1s;
    animation-fill-mode: forwards;
}

@keyframes a-three {
    0% {
        top: 46vh;
    }
    100% {
        top: 37vh;
    }
}

#p-five {
    position: absolute;
    top: 46vh;
    left: 30.4vw;
    height: 80px;
    width: 252px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: a-four 1s;
    animation-fill-mode: forwards;
}

@keyframes a-four {
    0% {
        top: 46vh;
    }
    100% {
        top: 54vh;
    }
}

#p-six {
    position: absolute;
    top: 46vh;
    left: 30.4vw;
    height: 80px;
    width: 252px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: a-five 1s;
    animation-fill-mode: forwards;
}

@keyframes a-five {
    0% {
        top: 54vh;
    }
    100% {
        top: 46vh;
    }
}

#p-seven {
    position: absolute;
    top: 54vh;
    left: 30.4vw;
    height: 80px;
    width: 252px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: a-six 1s;
    animation-fill-mode: forwards;
}

@keyframes a-six {
    0% {
        top: 54vh;
    }
    100% {
        top: 37vh;
    }
}
