.searchPage {
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.searchBar button {
    background-color: transparent;
    border: none;
}

.searchBar input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    color: rgba(0, 0, 0, .7);
}

.search-in {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container input::placeholder {
    width: 100%;
    color: #6289bd;
}
.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-slider {
    color:  #6289bd;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 25%;
    height: 60%;
    /* background-color: rgb(206, 206, 206); */
    background-color: white;
    animation: fadeIn 1s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.link-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.thumb-images-container {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.thumb-image {
    float: left;
    height: 80px;
    width: 80px;
    margin-right: 20px;
}


.close-button {
    height: 35px;
    width: 130px;
    background-color: #6289bd;
    border: none;
    outline: none;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 10px;
}

#close-button {
    height: 35px;
    width: 130px;
    background-color: #6289bd;
    border: none;
    outline: none;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 10px;
    animation: slide-cb 1s forwards;
    z-index: 4;
}

@keyframes slide-cb {
    0% {

        padding: 10px;
        margin-top: 10px;
    }
    100% {
        margin-top: 440px;
        padding: 10px;
    }
}

.close-button:hover,
#close-button:hover {
    background-color: #6d99d1;
}

.search-link {
    text-decoration: none;

}

.link-content {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.search-pageName {
    font-size: 30px;
}

.search-partners {
    font-size: 20px;
}


.line {
    width: 350px;
    border-bottom: 2px solid rgba(0, 0, 0, .4);
    margin: 10px;
}
