.searchPage {
    height: 460px;
    width: 723px;
    position: absolute;
    top: 20px;
    right: 570px;
    z-index: -1;
    animation: fadeIn 1s;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.searchBar button {
    background-color: transparent;
    border: none;
}

.searchBar input {
    height: 40px;
    width: 200px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    color: rgba(0, 0, 0, .7);
    /* text-align: center; */
}

.input-container input::placeholder {
    color: #6289bd;
}

.slide-ani {
    animation: slide-input 1s forwards;
}

@keyframes slide-input {
    0%{
        width: 200px;
    }
    100% {
        width: 455px;
    }
}

.searchIcon {
    color:  #6289bd;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 440px;
}

.icon-slider {
    color:  #6289bd;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 470px;
    animation: icon-slide 1s forwards;
}

@keyframes icon-slide {
    0% {
        left: 470px;
    }
    100% {
        left: 500px;
    }
}

.circle {
    width: 550px;
    height: 450px;
    position: absolute;
    /* background-color: rgb(206, 206, 206); */
    background-color: white;
    top: 65px;
    left: 70px;
    animation: fadeIn 1s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.link-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.thumb-images-container {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.thumb-image {
    float: left;
    height: 80px;
    width: 80px;
    margin-right: 20px;
}


.close-button {
    height: 35px;
    width: 130px;
    background-color: #6289bd;
    border: none;
    outline: none;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 10px;
}

#close-button {
    height: 35px;
    width: 130px;
    background-color: #6289bd;
    border: none;
    outline: none;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 10px;
    animation: slide-cb 1s forwards;
    z-index: 4;
}

@keyframes slide-cb {
    0% {

        padding: 10px;
        margin-top: 10px;
    }
    100% {
        margin-top: 440px;
        padding: 10px;
    }
}

.close-button:hover,
#close-button:hover {
    background-color: #6d99d1;
}

.search-link {
    text-decoration: none;

}

.link-content {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.search-pageName {
    font-size: 30px;
}

.search-partners {
    font-size: 20px;
}


.line {
    width: 350px;
    border-bottom: 2px solid rgba(0, 0, 0, .4);
    margin: 10px;
}
