.colorSelector-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.standard {
    height: 80px;
    width: 200px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.first-standard {
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, .7);
}

.second-standard{
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, .7);
}

.colored {
    height: 80px;
    width: 200px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.first-color {
    height: 100%;
    width: 50%;
    background-color: #5b6c34;
}

.second-color {
    height: 100%;
    width: 50%;
    background-color: #a5943f;
}

/* .slider {
    position: absolute;
    top: 87.2%;
    left: 11.5%;
    width: 200px;
    border-bottom: 8px solid #6289bd;
    border-radius: 5px;
} */

#slide-right {
    position: absolute;
    top: 87.2%;
    left: 11.5%;
    animation: outline-right .9s forwards;
}

@keyframes outline-right {
    0% {
        left:11.5%;
    }
    100% {
        left: 24.7%;
    }
}

#slide-left {
    position: absolute;
    top: 87.2%;
    left: 11.5%;
    animation: outline-left .9s forwards;
}

@keyframes outline-left {
    0% {
        left: 24.7%;
    }
    100% {
        left:11.5%;
    }
}

.slider-container {
    height: 15px;
    width: 82%;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    margin-top: 2%;
}
