.colorSelector-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.standard {
    height: 70px;
    width: 180px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.first-standard {
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, .7);
}

.second-standard{
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, .7);
}

.colored {
    height: 70px;
    width: 180px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.first-color {
    height: 100%;
    width: 50%;
}

.second-color {
    height: 100%;
    width: 50%;
}

#one-c1 {
    background-color: #0f6eea;
}

#one-c2 {
    background-color: #e08d56;
}

#two-c1 {
    background-color: #0f6eea;
}

#two-c2 {
    background-color: #6e7b7f;
}

#three-c1 {
    background-color: #5b6c34;
}

#three-c2 {
    background-color: #a5943f;
}

#four-c1 {
    background-color: #00b7cc;
}

#four-c2 {
    background-color: #ffd0cc;
}

#five-c1 {
    background-color: #17a5a3;
}

#five-c2 {
    background-color: #e97324;
}

.outline-slider {
    position: absolute;
    top: 80%;
    left: 11.7%;
    width: 180px;
    height: 70px;
    border: 6px solid #6289bd;
    border-radius: 5px;
}

#slide-right {
    position: absolute;
    top: 80%;
    left: 11.7%;
    animation: outline-right .9s forwards;
}

@keyframes outline-right {
    0% {
        left:11.7%;
    }
    100% {
        left: 24.9%;
    }
}

#slide-left {
    position: absolute;
    top: 80%;
    left: 11.7%;
    animation: outline-left .9s forwards;
}

@keyframes outline-left {
    0% {
        left: 24.9%;
    }
    100% {
        left:11.7%;
    }
}
