.grid-container {
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: rgba(209, 209, 209, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    height: 50px;
}
@media (max-width: 1440px) {
    .grid-container {
        grid-template-columns: 29% 42% 29%;
    }
  }


#myPage {
    background-color: rgba(209, 209, 209, 0.8);
}

#first-fraction {
    display: flex;
    align-items: center;
    justify-content: center;
}

#second-fraction{
    padding-top:4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#third-fraction {
    padding-top:4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b {
    color: white;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: .2rem;
}
@media (max-width: 1440px) {
    .b {
        font-size: 2rem;
    }
  }

.bloom-title {
    text-decoration: none;
}

.loom,
.link,
.btn {
    font-size: 1.6rem;
    text-decoration: none;
    letter-spacing: .3rem;
	text-transform: uppercase;
}
@media (max-width: 1440px) {
    .loom,
    .link,
    .btn {
        font-size: 1.5rem;
    }
  }
.loom,
.link {
    color:#0f6eea;

}

.loom:hover,
.link:hover {
    color: #6289bd;
}

#userHub {
    animation: slider 3.5s .6s forwards;
}

@keyframes slider {
    0% {
      transform: translate(0, 0);
      text-decoration: none;
      color:#0f6eea;
    }
    25% {
        transform: translate(0, 260px);
        color:#0f6eea;
    }
    60% {
        transform: translate(390px, 260px);
        color:#0f6eea;
    }
    99% {
        transform: translate(390px, 260px);
        color: white;
      }
    100% {
      transform: translate(390px, 260px);
      color: white;
    }
}

.logout {
    background-color: transparent;
    border:none;
}

#inUse {
    border-bottom: 2px solid white;
}

html:not([data-scroll="0"]) .grid-container {
    background-color: rgba(209, 209, 209, 0.9);
}
