#grid-container {
    width: 100vw;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, .3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

#first-fraction {
    display: flex;
    align-items: center;
    justify-content: center;
}

#second-fraction{
    padding-top:4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#third-fraction {
    padding-top:4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b {
    color: white;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: .2rem;
}


.bloom-title {
    border-bottom: 2px solid white;
    text-decoration: none;
}

.loom,
.link,
.btn {
    font-size: 1.6rem;
    text-decoration: none;
    letter-spacing: .3rem;
	text-transform: uppercase;
}

.loom,
.link {
    color:#0f6eea;

}

.loom:hover,
.link:hover {
    color: #6289bd;
}

#userHub {
    animation: slider 4.2s;
    animation-fill-mode: forwards;
    animation-delay: .6s;
}

@keyframes slider {
    0% {
      transform: translate(0, 0);
      text-decoration: none;
      color:#0f6eea;
    }
    25% {
        transform: translate(0, 270px);
        color:#0f6eea;
    }
    60% {
        transform: translate(390px, 270px);
        color:#0f6eea;
    }
    99% {
        transform: translate(390px, 270px);
        color: white;
      }
    100% {
      transform: translate(390px, 270px);
      color: white;
    }
}
