.myPage-form {
    position: absolute;
    top: 35px;
    left: 85px;
    height: 500px;
    width: 220px;
    box-sizing: border-box;
    animation: fadeIn 2s;
    z-index: 2;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#fade-out {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.myPage-form input {
    color: rgba(0,0,0, .6);
    background-color: transparent;
    padding: 10px 10px;
    margin-bottom: 30px;
    height: 28px;
    width: 100%;
    font-size: 20px;
    box-sizing:border-box;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, .7);
    cursor: pointer;
}

.myPage-form button {
    position: relative;
    top: 5px;
    left: 20px;
}

.myPage-form form div {
    position: relative;
    animation: fadeInTwo 1s;
}

.myPage-form form div label {
    position: absolute;
    top: 0px;
    left: 10px;
    transition: .5s;
    pointer-events: none;
    font-size: 20px;
    color: rgba(0,0,0, .7);
}

.myPage-form input:focus ~label,
.myPage-form input:valid ~ label {
    top:-20px;
    left:10px;
    font-weight: bold;
    font-size: 15px;
    color:#6289bd;
}

.myPage-form form .wedding-date-block label,
.myPage-form form .image-block div label {
    top:-20px;
    left:10px;
    font-weight: bold;
    font-size: 15px;
    color:#6289bd;
}

.wedding-date-block,
.venue-block {
    margin-top: 38px;
}

#profileImg {
    display: none;
}

.myPage-form .image-block input {
    height: 40px;
}

.image-block {
    margin-top: 10px;
}

#save-form-button {
    display: none;
}

.image-block button {
    height: 45px;
    width: 160px;
    background-color: #6289bd;
    border: none;
    outline: none;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    margin-left: 8px;
    margin-bottom: 30px;
}

.rsvp-block button {
    height: 45px;
    width: 160px;
    background-color: #6289bd;
    border: none;
    outline: none;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    margin-left: 8px;
}

.rsvp-block button:hover,
.image-block button:hover {
    background-color: #6d99d1;
}
