.my-site {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.circle-test {
    margin-top: 15%;
    width: 20%;
    height: 20%;
    background: url("https://bloombucketjesse.s3.us-east-2.amazonaws.com/backgroundImage-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: circle-load 2s forwards;
}

@keyframes circle-load {
    0% {
        width: 0%;
        height: 0%;
        border-radius: 0%;
        margin-top: 18.5%;
    }
    35% {
        width: 15%;
        height: 15%;
        margin-top: 16.2%;
    }
    70% {
        width: 5%;
        height: 5%;
        margin-top: 18.5%;
    }
    100% {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
}
