#backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#page-container {
    position: relative;
    top: 30vh;
    left: 50px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slogan-header {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 1%;
    left: .25%;
    width: 15%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer button {
    background-color: transparent;
    outline: none;
    border: none;
}

.foot-but {
    font-size: 35px;
    color:#0f6eea;
}

.foot-but:hover {
    color: #6289bd;
}

.searchBar {
    background-color:rgb(223, 223, 223);
    border-bottom: 2px solid black;
    height: 60px;
    width: 735px;
    position: absolute;
    top: 30%;
    right: 332.5px;
    z-index: -1;
}

.searchIcon {
    color: rgba(0, 0, 0, .7);
    font-size: 25px;
    margin-left: 23px;
    margin-top: 15px;
}

.circle {
    width: 50px;
    height: 50px;
    /* border: 2px solid #0f6eea; */
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 5px;
    left: 10px;
}

.circle:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: #0f6eea;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    border-radius: 40%;
    animation: fill 7s ease-in-out forwards;
    z-index: -1;
}

@keyframes fill {
    from {
        top: 100%;
        transform: translateX(-50%) rotate(0deg);

    }
    to {
        top: -5px;
        transform: translateX(-50%) rotate(360deg);
    }
}
