#backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#page-container {
    position: relative;
    top: 30vh;
    left: 50px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slogan-header {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 1%;
    left: .25%;
    width: 15%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer button {
    background-color: transparent;
    outline: none;
    border: none;
}

.foot-but {
    font-size: 35px;
    color:#0f6eea;
}

.foot-but:hover {
    color: #6289bd;
}

.searchPage {
    background-color:rgb(209, 209, 209, .8);
    border-bottom: 2px solid black;
    height: 460px;
    width: 723px;
    position: absolute;
    top: 31%;
    right: 338px;
    z-index: -1;
    animation: fadeIn 1s;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.searchBar input {
    height: 60px;
    width: 200px;
    font-size: 20px;
    padding-left: 20px;
}

.slide-ani {
    animation: slide-input 1s forwards;
}

@keyframes slide-input {
    0%{
        width: 200px;
    }
    100% {
        width: 455px;
    }
}

#slide-ani-in {
    animation: slide-input-in 1s forwards;
}

@keyframes slide-input-in {
    0%{
        width: 455px;
    }
    100% {
        width: 200px;
    }
}

.searchIcon {
    color: rgba(0, 0, 0, .7);
    font-size: 25px;
    position: absolute;
    top: 27px;
    left: 420px;
}

.icon-slider {
    color: rgba(0, 0, 0, .7);
    font-size: 25px;
    position: absolute;
    top: 27px;
    left: 420px;
    animation: icon-slide 1s forwards;
}

@keyframes icon-slide {
    0% {
        left: 420px;
    }
    100% {
        left: 555px;
    }
}

#slide-icon-in {
    animation: icon-slide-in 1s forwards;
}

@keyframes icon-slide-in {
    0% {
        left: 555px;
    }
    100% {
        left: 420px;
    }
}
/*
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 25px;
    left: 25px;
}

.circle:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: #0f6eea;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    border-radius: 40%;
    animation: fill 7s ease-in-out forwards;
    z-index: -1;
} */

@keyframes fill {
    from {
        top: 100%;
        transform: translateX(-50%) rotate(0deg);

    }
    to {
        top: -5px;
        transform: translateX(-50%) rotate(360deg);
    }
}
