#backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#page-container {
    position: relative;
    top: 30vh;
    left: 50px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1440px) {
    #page-container {
        left: 0;
    }
  }

#slogan-header {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;

}

@media (max-width: 1440px) {
    #slogan-header {
        font-size: 2.5rem;
    }
  }

.footer {
    position: absolute;
    bottom: 1%;
    left: .25%;
    width: 15%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer button {
    background-color: transparent;
    outline: none;
    border: none;
}

.foot-but {
    font-size: 35px;
    color:#0f6eea;
}

.foot-but:hover {
    color: #6289bd;
}
