#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 3;
  }

  #modal-background {
    position: fixed;
    width: 25%;
    height: 25%;
    margin-left: 37.5%;
    margin-top: 15%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
  }

  #modal-content {
    height: 100%;
    width: 100%;
  }
