.rsvp-form-vertical {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 400px;
    box-sizing: border-box;
    animation: fadeIn 2s;
}

.rsvp-form-vertical input {
    padding: 10px 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    box-sizing:border-box;
    box-shadow: none;
    border: 2px solid rgba(0,0,0, .7);
    cursor: pointer;
    color: rgba(0,0,0, .6);
}

.rsvp-form-vertical form div {
    position: relative;
}

.rsvp-form-vertical form div label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: .5s;
    pointer-events: none;
    font-size: 25px;
    color: rgba(0,0,0, .7);
}

.rsvp-form-vertical input:focus ~ label {
    top:-20px;
    left: 10px;
    font-weight: bold;
    font-size: 15px;
}

.rsvp-form-vertical input:valid ~ label {
    top:-20px;
    left:10px;
    font-weight: bold;
    font-size: 15px;
}

.rsvp-form-vertical button {
    color: white;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
    height: 35px;
    width: 100px;
    font-size: 20px;
    margin-left: 80px;
    transition: .25s all ease-in-out;
    cursor: pointer;
}

.rsvp-form-vertical button:hover {
    transform: translateY(-3px);
}

.rsvp-form-vertical-right {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 400px;
    box-sizing: border-box;
    animation: fadeIn 2s;
}

.rsvp-form-vertical-right input {
    padding: 10px 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    box-sizing:border-box;
    box-shadow: none;
    border: 2px solid rgba(0,0,0, .7);
    cursor: pointer;
    color: rgba(0,0,0, .6);
}

.rsvp-form-vertical-right form div {
    position: relative;
}

.rsvp-form-vertical-right form div label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: .5s;
    pointer-events: none;
    font-size: 25px;
    color: rgba(0,0,0, .7);
}

.rsvp-form-vertical-right input:focus ~ label {
    top:-20px;
    left: 10px;
    font-weight: bold;
    font-size: 15px;
}

.rsvp-form-vertical-right input:valid ~ label {
    top:-20px;
    left:10px;
    font-weight: bold;
    font-size: 15px;
}

.rsvp-form-vertical-right button {
    color: white;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
    height: 35px;
    width: 100px;
    font-size: 20px;
    margin-left: 80px;
    transition: .25s all ease-in-out;
    cursor: pointer;
}

.rsvp-form-vertical-right button:hover {
    transform: translateY(-3px);
}

.rsvp-form-horizontal {
    position: absolute;
    top: 55%;
    left: 22%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    animation: fadeIn 2s;
}

.rsvp-form-horizontal .first-block {
    position: absolute;
    top: 0%;
    left: 60%;
}

.rsvp-form-horizontal .second-block {
    position: absolute;
    top: 0%;
    left: 80%;
}

.rsvp-form-horizontal input {
    padding: 10px 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    box-sizing:border-box;
    box-shadow: none;
    border: 2px solid rgba(0,0,0, .7);
    cursor: pointer;
    color: rgba(0,0,0, .6);
}

.rsvp-form-horizontal form div {
    position: relative;
}

.rsvp-form-horizontal form div label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: .5s;
    pointer-events: none;
    font-size: 25px;
    color: rgba(0,0,0, .7);
}

.rsvp-form-horizontal input:focus ~ label {
    top:-20px;
    left: 10px;
    font-weight: bold;
    font-size: 15px;
}

.rsvp-form-horizontal input:valid ~ label {
    top:-20px;
    left:10px;
    font-weight: bold;
    font-size: 15px;
}

.rsvp-form-horizontal button {
    color: white;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
    height: 45px;
    width: 200px;
    font-size: 30px;
    margin-left: 60px;
    margin-top: 5px;
    transition: .25s all ease-in-out;
    cursor: pointer;
}

.rsvp-form-horizontal button:hover {
    transform: translateY(-3px);
}

.rsvp-form-horizontal-bot {
    position: absolute;
    top: 48%;
    left: 22%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    animation: fadeIn 2s;
}

.rsvp-form-horizontal-bot .first-block {
    position: absolute;
    top: 0%;
    left: 60%;
}

.rsvp-form-horizontal-bot .second-block {
    position: absolute;
    top: 0%;
    left: 80%;
}

.rsvp-form-horizontal-bot input {
    padding: 10px 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    box-sizing:border-box;
    box-shadow: none;
    border: 2px solid rgba(0,0,0, .7);
    cursor: pointer;
    color: rgba(0,0,0, .6);
}

.rsvp-form-horizontal-bot form div {
    position: relative;
}

.rsvp-form-horizontal-bot form div label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: .5s;
    pointer-events: none;
    font-size: 25px;
    color: rgba(0,0,0, .7);
}

.rsvp-form-horizontal-bot input:focus ~ label {
    top:-20px;
    left: 10px;
    font-weight: bold;
    font-size: 15px;
}

.rsvp-form-horizontal-bot input:valid ~ label {
    top:-20px;
    left:10px;
    font-weight: bold;
    font-size: 15px;
}

.rsvp-form-horizontal-bot button {
    color: white;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
    height: 45px;
    width: 200px;
    font-size: 30px;
    margin-left: 60px;
    margin-top: 5px;
    transition: .25s all ease-in-out;
    cursor: pointer;
}

.rsvp-form-horizontal-bot button:hover {
    transform: translateY(-3px);
}
