.horizontal-top-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;

}

.horizontal-tabs {
    height: 50px;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.horizontal-button {
    background-color: transparent;
    border: transparent;
    color: #5b6c34;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: .2rem;
}

.horizontal-card {
    background-color: rgb(254, 255, 238);
    height: 700px;
    width: 650px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

.profile-image {
    height: 250px;
    width: 250px;
    margin: 20px 0;
    border-radius: 50%;
}

#underline {
    border-bottom: 2px solid #5b6c34;;

}
.top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #5b6c34;;
}

.couple-names {
    color: #a5943f;
    text-transform: uppercase;
    font-size: 2.3rem;
    letter-spacing: .1rem;
}

.vertical-line {
    margin-top: 20px;
    height: 100px;
    border-left: 2px solid #a5943f;
}

.invitation {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top:30px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #5b6c34;
}
