.demo-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 430px;
    font-size: 30px;
    color: rgba(0, 0, 0, .7);
    text-align: justify;
    animation: fadeIn 2s;
}

.radio-button-label {
    position: relative;
    margin-top: 15px;
    color:#0f6eea;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: .2rem;
}

.radio-button {
    position: absolute;
    top: 8px;
    left: 105px;
    transform: scale(1.2);
}
