.demo-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 430px;
    font-size: 30px;
    color: rgba(0, 0, 0, .7);
    text-align: justify;
}

.radio-button-label {
    margin-top: 15px;
    color:#0f6eea;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: .2rem;
}

.radio-button {
    margin-left: 10px;
    
    transform: scale(1.2);
}
